---
import PageGen from "../components/PageGenrator/PageGen.tsx";
import Topbar from "../components/Topbar/Topbar.tsx";
import Footer from "../components/Footer/Footer.tsx";
import {
  SITE_TITLE_SEPARATOR,
  SITE_TITLE,
  SITE_TITLE_DEVANAGRI,
} from "../consts";
import MetadataHead from "../components/MetadataHead/MetadataHead.astro";
---

<html lang="en">
  <head>
    <MetadataHead />
  </head>

  <body
    class="bg-[radial-gradient(ellipse_at_top_left,_var(--tw-gradient-stops))]
  from-gray-700 via-gray-900 to-black min-h-screen h-full w-full"
  >
    <div
      style="margin-top: 2rem;"
      class="w-2/3 py-12 leading-normal shadow-md bg-gray-50 text-slate-900 mx-auto px-14 rounded-lg"
    >
      <PageGen client:only="react"  />
    </div>
  </body>
</html>
